Repository s1mark/cloud, pull requests merged in 2022-12, with the labels that each got.

#103 BWQ1BU Beadandó
  BWQ1BU/beadando/main_vm/main.tf
  BWQ1BU/beadando/main_vm/outputs.tf
  BWQ1BU/beadando/main_vm/provider.tf
  BWQ1BU/beadando/main_vm/variables.tf
  BWQ1BU/beadando/module/vm/main.tf
  BWQ1BU/beadando/module/vm/outputs.tf
  BWQ1BU/beadando/module/vm/variables.tf
Labels: completed, beadando, monday

#104 i652b8
  Matuch Richard - I652B8/beadando/main/.terraform.lock.hcl
  Matuch Richard - I652B8/beadando/main/main.tf
  Matuch Richard - I652B8/beadando/main/output.tf
  Matuch Richard - I652B8/beadando/main/provider.tf
  Matuch Richard - I652B8/beadando/module/vm/main.tf
  Matuch Richard - I652B8/beadando/module/vm/outputs.tf
  Matuch Richard - I652B8/beadando/module/vm/variables.tf
Labels: completed, beadando, monday

#105 Y0DM28 Beadandó
  Y0DM28/bedando/main/.terraform.lock.hcl
  Y0DM28/bedando/main/main.tf
  Y0DM28/bedando/main/outputs.tf
  Y0DM28/bedando/main/provider.tf
  Y0DM28/bedando/main/variables.tf
  Y0DM28/bedando/module/VM/.terraform.lock.hcl
  Y0DM28/bedando/module/VM/main.tf
  Y0DM28/bedando/module/VM/outputs.tf
  Y0DM28/bedando/module/VM/variables.tf
Labels: completed, beadando, monday

#110 EENUGW
  EENUGW/beadando/.terraform.lock.hcl
  EENUGW/beadando/main.tf
  EENUGW/beadando/outputs.tf
  EENUGW/beadando/provider.tf
  EENUGW/beadando/variables.tf
Labels: completed, beadando, monday

#112 WGXNP2
  WGXNP2/Beadando/Modules/ComputeDisk/.terraform.lock.hcl
  WGXNP2/Beadando/Modules/ComputeDisk/main.tf
  WGXNP2/Beadando/Modules/ComputeDisk/outputs.tf
  WGXNP2/Beadando/Modules/ServiceAccount/.terraform.lock.hcl
  WGXNP2/Beadando/Modules/ServiceAccount/main.tf
  WGXNP2/Beadando/Modules/ServiceAccount/outputs.tf
  WGXNP2/Beadando/Modules/ServiceAccount/variables.tf
  WGXNP2/Beadando/VM/.terraform.lock.hcl
  WGXNP2/Beadando/VM/main.tf
  WGXNP2/Beadando/VM/outputs.tf
  WGXNP2/Beadando/VM/provider.tf
  WGXNP2/Beadando/VM/variables.tf
Labels: beadando, reviewed, monday

#120 DDQ7JI_beadando
  DDQ7JI/beadandó/.terraform.lock.hcl
  DDQ7JI/beadandó/API/main.tf
  DDQ7JI/beadandó/API/variables.tf
  DDQ7JI/beadandó/Service_Account/main.tf
  DDQ7JI/beadandó/Service_Account/variable.tf
  DDQ7JI/beadandó/VM/main.tf
  DDQ7JI/beadandó/VM/variables.tf
  DDQ7JI/beadandó/main.tf
  DDQ7JI/beadandó/output.tf
  DDQ7JI/beadandó/provider.tf
Labels: completed, beadando, monday

#108 Cl3zhy
  Beregszászi Bence - CL3ZHY/terraform004/.terraform.lock.hcl
  Beregszászi Bence - CL3ZHY/terraform004/main.tf
  Beregszászi Bence - CL3ZHY/terraform004/provider.tf
  CL3ZHY/beadando/main/.terraform.lock.hcl
  CL3ZHY/beadando/main/main.tf
  CL3ZHY/beadando/main/outputs.tf
  CL3ZHY/beadando/main/provider.tf
  CL3ZHY/beadando/main/variables.tf
  CL3ZHY/beadando/module/vm/main.tf
  CL3ZHY/beadando/module/vm/outputs.tf
  CL3ZHY/beadando/module/vm/variables.tf
Labels: completed, beadando, thursday, done

#109 fdhj2b beadandó
  FDHJ2B/beadando/api/main.tf
  FDHJ2B/beadando/api/variables.tf
  FDHJ2B/beadando/main.tf
  FDHJ2B/beadando/outputs.tf
  FDHJ2B/beadando/provider.tf
  FDHJ2B/beadando/sa/main.tf
  FDHJ2B/beadando/sa/outputs.tf
  FDHJ2B/beadando/sa/variables.tf
  FDHJ2B/beadando/vm/main.tf
  FDHJ2B/beadando/vm/outputs.tf
  FDHJ2B/beadando/vm/variables.tf
Labels: completed, beadando, thursday, done

#111 Beadandó fájlok
  Kiss Dorina Hedvig - BSX8GS/beadando/main.tf
  Kiss Dorina Hedvig - BSX8GS/beadando/outputs.tf
  Kiss Dorina Hedvig - BSX8GS/beadando/provider.tf
  Kiss Dorina Hedvig - BSX8GS/beadando/variables.tf
Labels: completed, beadando, thursday, done

#114 YGJWWN
  YGJWWN/beadando/main/main.tf
  YGJWWN/beadando/main/outputs.tf
  YGJWWN/beadando/main/provider.tf
  YGJWWN/beadando/module/vm/main.tf
  YGJWWN/beadando/module/vm/outputs.tf
  YGJWWN/beadando/module/vm/variables.tf
Labels: completed, beadando, thursday, done

#116 Zh5 ed7
  ZH5ED7/Beadandó/.terraform.lock.hcl
  ZH5ED7/Beadandó/backend.tf
  ZH5ED7/Beadandó/main.tf
  ZH5ED7/Beadandó/outputs.tf
  ZH5ED7/Beadandó/provider.tf
  ZH5ED7/Beadandó/variables.tf
  ZH5ED7/valami.txt
Labels: completed, beadando, thursday, done

#117 created base for beadando
  FO5NVH/beadando/main/main.tf
  FO5NVH/beadando/main/outputs.tf
  FO5NVH/beadando/main/provider.tf
  FO5NVH/beadando/main/variables.tf
  FO5NVH/beadando/module/vm/main.tf
  FO5NVH/beadando/module/vm/outputs.tf
  FO5NVH/beadando/module/vm/variables.tf
Labels: completed, beadando, thursday, done

#118 JHPIPM-Beadandó
  JHPIPM/Beadandó/.terraform.lock.hcl
  JHPIPM/Beadandó/main.tf
  JHPIPM/Beadandó/modul/vm/main.tf
  JHPIPM/Beadandó/modul/vm/outputs.tf
  JHPIPM/Beadandó/modul/vm/variables.tf
  JHPIPM/Beadandó/provider.tf
Labels: completed, beadando, thursday, done

#123 OA4R7U
  Konya Donat - OA4R7U/Beadando/main/main.tf
  Konya Donat - OA4R7U/Beadando/main/outputs.tf
  Konya Donat - OA4R7U/Beadando/main/provider.tf
  Konya Donat - OA4R7U/Beadando/module/vm/main.tf
  Konya Donat - OA4R7U/Beadando/module/vm/outputs.tf
  Konya Donat - OA4R7U/Beadando/module/vm/provider.tf
  Konya Donat - OA4R7U/Beadando/module/vm/variables.tf
Labels: completed, beadando, thursday, done

#122 Beadando
  DGZ4LI/dgz4li/Beadando/main/main.tf
  DGZ4LI/dgz4li/Beadando/main/outputs.tf
  DGZ4LI/dgz4li/Beadando/main/provider.tf
  DGZ4LI/dgz4li/Beadando/module/vm/main.tf
  DGZ4LI/dgz4li/Beadando/module/vm/outputs.tf
  DGZ4LI/dgz4li/Beadando/module/vm/variables.tf
Labels: completed, beadando, monday, done

#127 H36OG5
  H36OG5/Beadando/main/.terraform.lock.hcl
  H36OG5/Beadando/main/main.tf
  H36OG5/Beadando/main/outputs.tf
  H36OG5/Beadando/main/provider.tf
  H36OG5/Beadando/module/vm/main.tf
  H36OG5/Beadando/module/vm/outputs.tf
  H36OG5/Beadando/module/vm/variables.tf
Labels: completed, monday, done

#126 fq4ac3
  Utassy Denes - FQ4AC3/beadando/.terraform.lock.hcl
  Utassy Denes - FQ4AC3/beadando/ServiceAcc/main.tf
  Utassy Denes - FQ4AC3/beadando/VM/main.tf
  Utassy Denes - FQ4AC3/beadando/VM/variables.tf
  Utassy Denes - FQ4AC3/beadando/main.tf
  Utassy Denes - FQ4AC3/beadando/outputs.tf
  Utassy Denes - FQ4AC3/beadando/provider.tf
  Utassy Denes - FQ4AC3/beadando/variables.tf
Labels: completed, monday, done

#90 Diz39o
  Tolvaj Balazs - DIZ39O/beadando/.terraform.lock.hcl
  Tolvaj Balazs - DIZ39O/beadando/main.tf
  Tolvaj Balazs - DIZ39O/beadando/outputs.tf
  Tolvaj Balazs - DIZ39O/beadando/provider.tf
  Tolvaj Balazs - DIZ39O/beadando/variables.tf
  Tolvaj Balazs - DIZ39O/create_vm/main.tf
  Tolvaj Balazs - DIZ39O/create_vm/provider.tf
  Tolvaj Balazs - DIZ39O/module/vm/main.tf
  Tolvaj Balazs - DIZ39O/module/vm/provider.tf
  Tolvaj Balazs - DIZ39O/module/vm/variables.tf
  _core/monday/VM/main.tf
Labels: completed, beadando, monday, done

#128 QY0801
  QY0801/.gitignore
  QY0801/Gyak3/main.tf
  QY0801/Gyak3/provider.tf
  QY0801/Gyak3/variables.tf
  QY0801/Gyak4/outputs.tf
  QY0801/Gyak4/variables.tf
  QY0801/Gyak5/iam/main.tf
  QY0801/Gyak5/iam/provider.tf
  QY0801/Gyak5/iam/variables.tf
  QY0801/Gyak5/vm/main.tf
  QY0801/Gyak5/vm/provider.tf
  QY0801/README.md
  QY0801/assignment/.terraform.lock.hcl
  QY0801/assignment/main.tf
  QY0801/assignment/outputs.tf
  QY0801/assignment/provider.tf
  QY0801/assignment/variables.tf
Labels: completed, beadando, monday, nomerge

#130 CAZJQD
  CAZJQD/beadando/main.tf
  CAZJQD/beadando/outputs.tf
  CAZJQD/beadando/provider.tf
  CAZJQD/beadando/variables.tf
Labels: beadando, thursday, done
